* {
  font-family: 'Fira Sans', sans-serif;
}

main {
  height: 80vh;
  background-image: linear-gradient(to bottom, lightblue 0%, skyblue 50%, navy 100%)
}

.hidden {
  display: none;
}

.logo {
  background-image: url(/src/images/Screenshot\ 2023-01-16\ at\ 2.02.18\ PM.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 200px;
}

header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkgoldenrod;
}

.bookTrip {
  display: flex;
  flex-direction: row;
}